@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,400italic');

html, body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    font-size: medium;
    font-family: 'PT Serif', serif;
    line-height: 1.5em;
    text-align: justify;
    text-justify: auto;
}

iframe {
    overflow: hidden;
    overflow-y: hidden;
    border: none;
}

footer {
    border-top: 1px solid #d81e05;
    padding: 0.5em 0 0.5em 0;
}

p, li, th, td {
    color: #404040;
    margin-top: 0;
}

ul {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #d81e05;
    padding: 0.3em 0.3em 0.3em 0;
}

h1 {
    border-bottom: 1px solid #d81e05;
    font-size: x-large;
}

h2 {
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

h3 {
    font-size: medium;
}

a {
    color: #d81e05;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

hr {
    border-top: 1px dashed #404040;
    border-width: 1px 0 0 0;
}

table {
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.3em;
    vertical-align: top;
}

th {
    font-family: 'Open Sans', sans-serif;
    color: #d81e05;
    border-bottom: 1px solid #d81e05;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

blockquote {
    margin: 0;
    border-left: .5em solid #f2f2f2;
    padding-left: 1em;
}

img {
    clear: both;
    display: block;
    margin: 1em auto 1em auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #404040;
}

.grid-container {
    flex: 1;
    display: flex;
    overflow-x: auto !important;
    white-space: nowrap;
    flex-grow: 1;
}

.grid {
    max-width: 100%;
    flex-grow: 1;
}

.page {
    white-space: normal;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 625px;
    max-width: 90%;
    height: 100% !important;
    max-height: 100%;
    overflow-y: auto;
    vertical-align: top;
    box-sizing: border-box;
}

.page:last-child {
    margin-right: 15px;
}

.disabled {
    color: purple;
}
